.icon-rot {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 32px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}
.icon-rot:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

body{
    background-color: darkslategrey!important;
}
.btm{
    background-color: darkslategrey!important;
}
